---
title: SIMPLE MINDMAP
---

<p>In this mindmap you can see stuff and things.</p>

{% mindmap %}
# title

- task
- second task
{% endmindmap %}


<p>But here? Stuff and <em>nonsense</em>!</p>

{% mindmap "map2" %}
# title2

- task2
- second task2
{% endmindmap %}
